body {
  color:#40514e;
  margin: 0;
  text-align: center;
  font-family: 'Berkshire Swash', cursive;
}


h1 {
  margin: 0 auto 0 auto;
  font-family: 'Aclonica', sans-serif;
  font-size: 2.5em;
  color:#66bfbf;
}
h2{
  font-family: 'Aclonica', sans-serif;
  color:#66bfbf;
  font-weight: normal;
}
h3{
  font-family: 'Aclonica', sans-serif;
  color:#11999e;
}
.top-container{
  background-color: #eaf6f6;
  position: relative;
  padding-top:100px;
}.gip{
  height: 150px;
}
.table{
  height: 315px;
  width:747px;
}
hr{
  border: dotted #eaf6f6 6px;
  border-bottom: none;
  width: 4%;
  margin: 80px auto 80px auto;
}
.btn {
  background: #11cdd4;
  background-image: -webkit-linear-gradient(top, #11cdd4, #11999e);
  background-image: -moz-linear-gradient(top, #11cdd4, #11999e);
  background-image: -ms-linear-gradient(top, #11cdd4, #11999e);
  background-image: -o-linear-gradient(top, #11cdd4, #11999e);
  background-image: linear-gradient(to bottom, #11cdd4, #11999e);
  -webkit-border-radius: 8;
  -moz-border-radius: 8;
  border-radius: 8px;
  font-family: rye;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 5px 10px 5px;
  text-decoration: none;
}

.btn:hover {
  background: #30e3cb;
  background-image: -webkit-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -moz-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -ms-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: -o-linear-gradient(top, #30e3cb, #2bc4ad);
  background-image: linear-gradient(to bottom, #30e3cb, #2bc4ad);
  text-decoration: none;
}
.cloud1{
  height:100px;
  width:150px;
  position:absolute;
  right:220px;
  top:30px;
}
.middle-container{
  padding-top:40px;
}
.bottom-container{
  padding-top:40px;
background-color: #87dfd6;
padding-bottom: 20px;
margin-top:50px;
}
a{
  color: #11999e;
  text-decoration: none;
}
a:hover{
  color:#eaf6f6;
}
.cloud2{
  height:100px;
  width:150px;
  position:absolute;
  top:130px;
  left:260px;
}
.rapunzel{
height:200px;
width:200px;
}
.copyright{
  color:#eaf6f6;
  font-size: 0.75rem;
  padding:10px 0 10px 0;
}
